[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
instaloader = "*"
python-dotenv = "*"
minio = "*"
python-arango = "*"
peewee = "*"
psycopg2 = "*"
psycopg2-binary = "*"
google-cloud-language = "*"
helium = "*"
requests = "*"
smartcrop = "*"
flask-socketio = "*"
flask = "*"

[requires]
python_version = "3.8"
